#
# This workflow calls the main distribution pipeline from DuckDB to build, test and (optionally) release the extension
#

#TODO: fetch only duckdb in generate matrix

name: Main Extension Distribution Pipeline
on:
  push:
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.head_ref || '' }}-${{ github.base_ref || '' }}-${{ github.ref != 'refs/heads/main' || github.sha }}
  cancel-in-progress: true

jobs:
  duckdb-stable-build:
    name: Build extension binaries
    uses: duckdb/extension-ci-tools/.github/workflows/_extension_distribution.yml@v1.4.0
    with:
      duckdb_version: v1.4.1
      ci_tools_version: v1.4.1
      extension_name: faiss
      vcpkg_url: "https://github.com/microsoft/vcpkg.git"
      vcpkg_commit: 54760c3439fa2fdf2f42ccd730fcf2639c3fe101
      # osx_amd64 is disabled due to a build faillure (should be fixable)
      # musl is disabled due to https://github.com/duckdb/extension-ci-tools/issues/135
      exclude_archs: "osx_amd64;wasm_mvp;wasm_eh;wasm_threads;linux_amd64_musl"
      build_duckdb_shell: false
      extra_toolchains: "fortran;omp"
